
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-MXr {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .desktop-2-5ik {
    overflow: hidden;
    align-items: flex-end;
    flex-direction: column;
    background-color: #ffffff;
    top: 0;
    display: flex;
    width: 144rem;
    height: 102.4rem;
    position: absolute;
    left: 0;

    .auto-group-cvqi-afW {
      width: 100%;
      height: 50.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-qffi-7vL {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 144rem;

        .rectangle-2-2XW {
          position: absolute;
          left: 0;
          top: 0;
          background-color: #000000;
          width: 144rem;
          height: 31.2rem;
        }
        .welcome-to-our-exquisite-restaurant-where-culinary-artistry-takes-center-stage-our-talented-chefs-craft-dishes-that-are-a-true-delight-for-the-senses-join-us-for-a-dining-experience-that-combines-the-freshest-ingredients-innovative-recipes-and-a-warm-inviting-ambiance-reserve-your-table-today-to-indulge-in-a-gastronomic-journey-like-no-other-ZXS {
          width: 85.3rem;
          height: 5.9rem;
          position: absolute;
          left: 2.2rem;
          font-weight: 700;
          line-height: 1.5;
          top: 23rem;
          font-size: 1.3rem;
          letter-spacing: -0.0143rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .image-3-HLx {
          width: 44rem;
          height: 20.2rem;
          position: relative;
          left: 97.7rem;
          top: 8.7rem;
          background-size: 93.932% 97.03%;
          background-position: 0.788rem 0rem;
          background-image: url('REPLACE_IMAGE:15912450debf7d57bfaae4fdb54e07f429e9ee25');
        }
        .welcome-to-our-exquisite-restaurant-where-culinary-artistry-takes-center-stage-our-talented-chefs-craft-dishes-that-are-a-true-delight-for-the-senses-join-us-for-a-dining-experience-that-combines-the-freshest-ingredients-innovative-recipes-and-a-warm-inviting-ambiance-reserve-your-table-today-to-indulge-in-a-gastronomic-journey-like-no-other-xhz {
          letter-spacing: -0.0143rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          top: 23rem;
          font-weight: 700;
          line-height: 1.5;
          left: 2.2rem;
          font-size: 1.3rem;
          width: 85.3rem;
          height: 5.9rem;
          position: absolute;
        }
        .home-Wd2 {
          top: 2.1rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.3333333333;
          letter-spacing: -0.0456rem;
          color: #ffffff;
          width: 10.6rem;
          height: 3.2rem;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          left: 47.4rem;
        }
        .menu-QTW {
          font-weight: 500;
          line-height: 1.3333333333;
          letter-spacing: -0.0456rem;
          width: 11.8rem;
          height: 3.2rem;
          left: 70.6rem;
          top: 2.1rem;
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          cursor: pointer;
          position: absolute;
          color: #ffffff;
          white-space: nowrap;
        }
        .billing-u9N {
          position: absolute;
          left: 82.2rem;
          line-height: 1.3333333333;
          letter-spacing: -0.0456rem;
          color: #ffffff;
          width: 8.9rem;
          height: 3.2rem;
          cursor: pointer;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          top: 2.1rem;
          font-size: 2.4rem;
          font-weight: 500;
        }
        .gallery-C8U {
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.3333333333;
          height: 3.2rem;
          cursor: pointer;
          position: absolute;
          left: 90rem;
          top: 2.1rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 12.2rem;
          letter-spacing: -0.0456rem;
        }
        .book-a-table-gpL {
          width: 17rem;
          height: 3.6rem;
          position: absolute;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.5;
          letter-spacing: -0.0456rem;
          color: #ffa629;
          cursor: pointer;
          left: 124.1rem;
          top: 5.3rem;
          font-size: 2.4rem;
          font-weight: 700;
          white-space: nowrap;
        }
        .food-dynasty-PCx {
          white-space: nowrap;
          width: 32rem;
          font-family: Inter, 'Source Sans Pro';
          left: 1.9rem;
          top: 0;
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: -0.1056rem;
          height: 7.2rem;
          position: absolute;
          color: #ffa629;
        }
        .enjoy-hundreds-of-flavors-under-one-roof-W2g {
          color: #ffffff;
          width: 18rem;
          height: 9rem;
          position: absolute;
          left: 6.5rem;
          line-height: 1.5;
          top: 10.6rem;
          font-size: 2rem;
          font-weight: 500;
          letter-spacing: -0.044rem;
          font-family: Inter, 'Source Sans Pro';

          .enjoy-hundreds-of-flavors-under-one-roof-W2g-sub-0 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: -0.044rem;
            color: #ffffff;
          }
          .enjoy-hundreds-of-flavors-under-one-roof-W2g-sub-1 {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: -0.044rem;
          }
        }
        .rectangle-3-w1W {
          position: absolute;
          left: 1.9rem;
          top: 18.3rem;
          object-fit: contain;
          vertical-align: top;
          width: 64.3rem;
          height: 9.5rem;
        }
        .frame-2-rPN {
          top: 30.9rem;
          overflow: hidden;
          display: flex;
          align-items: center;
          width: 140.5rem;
          height: 19.5rem;
          position: absolute;
          left: 1.8rem;

          .auto-group-sk5z-nH2 {
            flex-shrink: 0;
            width: 29.8rem;
            height: 100%;
            position: relative;

            .rectangle-10-8bn {
              left: 0;
              top: 1.6rem;
              object-fit: cover;
              vertical-align: top;
              width: 29.8rem;
              height: 17.9rem;
              cursor: pointer;
              position: absolute;
            }
            .menu-FgQ {
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 1.495;
              color: #ffffff;
              font-family: Kanit, 'Source Sans Pro';
              width: 9.2rem;
              left: 9.2rem;
              top: 0;
              white-space: nowrap;
              height: 5.4rem;
              position: absolute;
            }
            .line-2-Zh6 {
              width: 29.5rem;
              height: 0.1rem;
              position: absolute;
              left: 0.3rem;
              top: 5.2rem;
              background-color: #000000;
            }
          }
          .auto-group-mhk8-h2c {
            padding: 0.1rem 0rem 0rem 6.8rem;
            height: 100%;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;
            box-sizing: border-box;

            .auto-group-osrw-Qhi {
              margin-right: 8.3rem;
              width: 30.4rem;
              height: 17.3rem;
              position: relative;
              flex-shrink: 0;

              .rectangle-11-vvx {
                cursor: pointer;
                position: absolute;
                left: 0;
                top: 0.2rem;
                object-fit: cover;
                vertical-align: top;
                width: 30.4rem;
                height: 17.1rem;
              }
              .line-1-Tvt {
                background-color: #ffffff;
                width: 30.3rem;
                height: 0.1rem;
                position: absolute;
                left: 0.1rem;
                top: 3.3rem;
              }
              .book-a-table-1Bi {
                left: 4.5rem;
                top: 0;
                font-size: 3.6rem;
                color: #ffffff;
                font-family: Karla, 'Source Sans Pro';
                white-space: nowrap;
                width: 22.3rem;
                position: absolute;
                font-weight: 700;
                line-height: 1.17;
                height: 4.3rem;
              }
            }
            .auto-group-9qrs-JRi {
              width: 28rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;
              margin-right: 6.8rem;

              .rectangle-12-FLx {
                position: absolute;
                left: 0.1rem;
                top: 1.5rem;
                object-fit: cover;
                vertical-align: top;
                width: 27.9rem;
                height: 17.9rem;
                cursor: pointer;
              }
              .about-us-n5z {
                font-size: 3.6rem;
                line-height: 1.495;
                width: 15.6rem;
                height: 5.4rem;
                left: 6.3rem;
                color: #000000;
                font-family: Kanit, 'Source Sans Pro';
                white-space: nowrap;
                position: absolute;
                top: 0;
                font-weight: 700;
              }
              .line-4-J4L {
                width: 28rem;
                height: 0.1rem;
                position: absolute;
                left: 0;
                top: 4.3rem;
                background-color: #ffffff;
              }
            }
            .auto-group-lyny-qa4 {
              width: 30.4rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .rectangle-13-C9i {
                top: 1.5rem;
                object-fit: cover;
                vertical-align: top;
                width: 30.4rem;
                height: 17.9rem;
                position: absolute;
                left: 0;
              }
              .gallery-Xxg {
                height: 5.4rem;
                position: absolute;
                font-size: 3.6rem;
                line-height: 1.495;
                color: #ffffff;
                font-family: Kanit, 'Source Sans Pro';
                white-space: nowrap;
                width: 12.3rem;
                left: 9rem;
                top: 0;
                font-weight: 700;
              }
            }
          }
        }
        .about-EcC {
          height: 3.2rem;
          cursor: pointer;
          left: 58.4rem;
          line-height: 1.3333333333;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 8.2rem;
          position: absolute;
          top: 2.1rem;
          font-size: 2.4rem;
          font-weight: 500;
          letter-spacing: -0.0456rem;
          color: #ffffff;
        }
        .contact-YMz {
          width: 11.4rem;
          height: 3.2rem;
          cursor: pointer;
          position: absolute;
          top: 2.1rem;
          font-weight: 500;
          line-height: 1.3333333333;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          left: 108.2rem;
          font-size: 2.4rem;
          letter-spacing: -0.0456rem;
          white-space: nowrap;
        }
        .login-qrt {
          font-size: 2.4rem;
          line-height: 1.5;
          letter-spacing: -0.0456rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 3.6rem;
          cursor: pointer;
          position: absolute;
          left: 134.2rem;
          top: 0.6rem;
          font-weight: 700;
          width: 6.3rem;
        }
      }
      .rectangle-4-9sa {
        margin-top: 9.7rem;
        width: 0.8rem;
        height: 0.3rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-sskg-h8Q {
      width: 144.4rem;
      height: 63.5rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-5-R4Q {
        top: 0.8rem;
        background-color: #d1b1b1;
        width: 144rem;
        height: 28.9rem;
        position: absolute;
        left: 0;
      }
      .indulge-in-a-dining-experience-that-exudes-luxury-and-sophistication-where-every-moment-is-infused-with-an-ambiance-of-opulence-end-refinement-Mik {
        position: absolute;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: Karla, 'Source Sans Pro';
        width: 60.4rem;
        height: 3.8rem;
        left: 77.3rem;
        top: 18.7rem;
        line-height: 1.17;
        color: #000000;
      }
      .welcome-to-food-dynasty-BSt {
        width: 58.8rem;
        font-size: 4.8rem;
        font-weight: 700;
        color: #000000;
        font-family: Karla, 'Source Sans Pro';
        white-space: nowrap;
        height: 5.7rem;
        position: absolute;
        left: 77.7rem;
        top: 5.4rem;
        line-height: 1.17;
      }
      .discover-our-restaurants-commitment-t-o-excellence-where-every-dish-is-a-testament-to-our-passion-for-fine-dining-Uwn {
        line-height: 1.17;
        font-family: Karla, 'Source Sans Pro';
        position: absolute;
        top: 13.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        width: 62.9rem;
        height: 3.8rem;
        left: 77.7rem;
        color: #000000;
      }
      .rectangle-6-92L {
        left: 3.3rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 22.8rem;
        height: 15.3rem;
        position: absolute;
      }
      .rectangle-7-fmN {
        object-fit: cover;
        vertical-align: top;
        width: 16.1rem;
        height: 11.4rem;
        position: absolute;
        left: 27.2rem;
        top: 3.9rem;
      }
      .rectangle-8-ocg {
        top: 19.4rem;
        object-fit: cover;
        vertical-align: top;
        width: 16.8rem;
        height: 9.9rem;
        position: absolute;
        left: 7.6rem;
      }
      .rectangle-9-9Re {
        top: 16.5rem;
        object-fit: cover;
        vertical-align: top;
        width: 22.9rem;
        height: 12.8rem;
        position: absolute;
        left: 27.2rem;
      }
      .rectangle-14-VEc {
        left: 0;
        top: 29.7rem;
        background-color: #d9d9d9;
        width: 144rem;
        height: 22.3rem;
        position: absolute;
      }
      .vector-S9r {
        height: 2.8024rem;
        position: absolute;
        left: 66.4rem;
        top: 36.8rem;
        object-fit: contain;
        vertical-align: top;
        width: 4.8129rem;
      }
      .vector-mxp {
        vertical-align: top;
        width: 3.7rem;
        height: 3rem;
        position: absolute;
        left: 60.6rem;
        top: 36.8rem;
        object-fit: contain;
      }
      .hours-WvQ {
        line-height: 1.4825;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        width: 10.5rem;
        top: 32.5rem;
        font-weight: 700;
        font-size: 3.6rem;
        white-space: nowrap;
        height: 5.4rem;
        position: absolute;
        left: 127.4rem;
      }
      .monday-sunday-10am-10pm-39e {
        font-size: 2.4rem;
        line-height: 1.4825;
        font-family: Oswald, 'Source Sans Pro';
        width: 17.1rem;
        height: 10.7rem;
        position: absolute;
        left: 123.7rem;
        top: 40.6rem;
        font-weight: 700;
        color: #000000;
      }
      .emailfooddynastycom-555-888-9999-qrC {
        width: 32.1rem;
        left: 58rem;
        top: 40.6rem;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.4825;
        height: 14.3rem;
        position: absolute;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
      }
      .food-dynasty-8qJ {
        width: 24.6rem;
        height: 6rem;
        position: absolute;
        left: 58.6rem;
        line-height: 1.4825;
        white-space: nowrap;
        top: 29.3rem;
        font-size: 4rem;
        font-weight: 700;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
      }
      .contact-sambas-region-east-blue-near-grand-line-qzc {
        height: 28.5rem;
        font-size: 3.6rem;
        line-height: 1.4825;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        width: 25.3rem;
        position: absolute;
        left: 1.9rem;
        top: 35rem;
        font-weight: 700;

        .contact-sambas-region-east-blue-near-grand-line-qzc-sub-0 {
        }
        .contact-sambas-region-east-blue-near-grand-line-qzc-sub-1 {
          color: #000000;
          font-family: Oswald, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.4825;
        }
      }
    }
  }
  .line-3-ZZE {
    background-color: #ffffff;
    width: 32.1rem;
    height: 0.1rem;
    position: absolute;
    left: 111.9rem;
    top: 35.2rem;
  }
}
