
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-qKa {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;

  .auto-group-e7qy-1tG {
    align-items: center;
    background-color: #000000;
    margin-bottom: 0.3rem;
    padding: 0rem 0.4rem 1.4rem 1.9rem;
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .auto-group-x4j6-sJC {
      margin: 0rem 2.4rem 0.1rem 0rem;
      height: 9.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .food-dynasty-MjA {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 4.8rem;
        font-weight: 700;
        letter-spacing: -0.1056rem;
        margin: 0rem 7rem 2.5rem 0rem;
        line-height: 1.5;
        color: #ffa629;
      }
      .home-Pvk {
        flex-shrink: 0;
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.3333333333;
        letter-spacing: -0.0456rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 0.1rem 1.3rem 0rem;
      }
      .about-u8Q {
        flex-shrink: 0;
        font-size: 2.4rem;
        letter-spacing: -0.0456rem;
        white-space: nowrap;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 3.4rem 1.3rem 0rem;
        font-weight: 500;
        line-height: 1.3333333333;
      }
      .menu-1hE {
        margin: 0rem 0.3rem 1.3rem 0rem;
        font-size: 2.4rem;
        font-weight: 500;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 1.3333333333;
        letter-spacing: -0.0456rem;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-nza4-XvU {
        position: relative;
        flex-shrink: 0;
        margin: 2.6rem 9.3rem 3.9rem 0rem;
        width: 17.3rem;
        height: calc(100% - 6.5rem);

        .billing-SGk {
          letter-spacing: -0.0456rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          left: 0;
          top: 0;
          font-size: 2.4rem;
          line-height: 1.3333333333;
          color: #ffffff;
          width: 8.9rem;
          height: 3.2rem;
          position: absolute;
          font-weight: 500;
        }
        .gallery-Y4t {
          white-space: nowrap;
          left: 6.3rem;
          top: 0;
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.3333333333;
          letter-spacing: -0.0456rem;
          color: #ffffff;
          width: 11rem;
          height: 3.2rem;
          position: absolute;
          font-weight: 500;
        }
      }
      .contact-qZn {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        letter-spacing: -0.0456rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 10.9rem 1.3rem 0rem;
        font-weight: 500;
        line-height: 1.3333333333;
      }
      .book-a-table-ZEt {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.5;
        flex-shrink: 0;
        white-space: nowrap;
        margin-top: 6.1rem;
        letter-spacing: -0.0456rem;
        color: #ffa629;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-fdqp-smN {
      margin-left: 0.3rem;
      width: calc(100% - 0.3rem);
      height: 20.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-kxxt-avg {
        height: calc(100% - 2rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.4rem 12.1rem 0.6rem 0rem;

        .enjoy-hundreds-of-flavors-under-one-roof-iGC {
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: -0.044rem;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 0rem 3.7rem 4.3rem;
          max-width: 18rem;
          font-size: 2rem;
          color: #ffffff;

          .enjoy-hundreds-of-flavors-under-one-roof-iGC-sub-0 {
            line-height: 1.5;
            letter-spacing: -0.044rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 700;
          }
          .enjoy-hundreds-of-flavors-under-one-roof-iGC-sub-1 {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: -0.044rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .welcome-to-our-exquisite-restaurant-where-culinary-artistry-takes-center-stage-our-talented-chefs-craft-dishes-that-are-a-true-delight-for-the-senses-join-us-for-a-dining-experience-that-combines-the-freshest-ingredients-innovative-recipes-and-a-warm-inviting-ambiance-reserve-your-table-today-to-indulge-in-a-gastronomic-journey-like-no-other-ceQ {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 85.3rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: -0.0143rem;
        }
      }
      .image-3-jsS {
        flex-shrink: 0;
        width: 44rem;
        height: 20.6rem;
        position: relative;
        background-size: 93.932% 97.03%;
        background-position: 0.788rem 0rem;
        background-image: url('REPLACE_IMAGE:15912450debf7d57bfaae4fdb54e07f429e9ee25');
      }
    }
  }
  .auto-group-q48k-zHa {
    margin-right: 0.0453rem;
    height: 43.9rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-ykgg-88t {
      flex-shrink: 0;
      box-sizing: border-box;
      padding-top: 0.6463rem;
      height: 100%;
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .btn-pry-template-1-2-Tgx {
        box-sizing: border-box;
        padding: 0.884rem 5.175rem 0.08rem 5.125rem;
        letter-spacing: 0.07rem;
        font-weight: 900;
        line-height: 1.7601562774;
        color: #212121;
        font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 1.489rem 41.6rem;
        text-align: right;
        font-size: 1.28rem;
        border: solid 0.15rem #212121;
        flex-shrink: 0;
      }
      .auto-group-1p4y-g3v {
        margin-right: 18.9rem;
        width: 38rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-v3oj-bRn {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0rem 1.5rem 1.6rem 1.5rem;
          width: 100%;
          display: flex;

          .auto-group-srtv-7Q8 {
            font-size: 3.2rem;
            font-weight: 800;
            font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
            align-items: center;
            line-height: 1.1000000238;
            height: 6.3rem;
            color: #000000;
            white-space: nowrap;
            background-color: #d9d9d9;
            flex-shrink: 0;
            margin-bottom: 4.9rem;
            width: 100%;
            display: flex;
            justify-content: center;
          }
          .auto-group-41lp-thi {
            flex-shrink: 0;
            margin-bottom: 3.4rem;
            width: 28.3rem;
            height: 4.3rem;
            position: relative;

            .rectangle-8-Rhe {
              position: absolute;
              left: 0;
              top: 0.2rem;
              background-color: #d9d9d9;
              width: 28.3rem;
              height: 4.1rem;
            }
            .user-name-kjv {
              text-align: center;
              font-size: 1rem;
              white-space: nowrap;
              position: absolute;
              top: 0;
              left: 0.6rem;
              font-weight: 400;
              line-height: 2.8159999847;
              color: #000000;
              font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
              width: 5.5rem;
              height: 2.9rem;
            }
          }
          .auto-group-ymvu-qWU {
            width: 28.3rem;
            height: 4.1rem;
            font-weight: 400;
            margin-bottom: 3.4rem;
            padding: 0.3rem 0;
            background-color: #d9d9d9;
            flex-shrink: 0;
            box-sizing: border-box;
            text-align: center;
            font-size: 1rem;
            color: #000000;
            white-space: nowrap;
            line-height: 2.8159999847;
            font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          }
          .auto-group-2iw8-W6p {
            padding: 0 0.6rem;
            height: 4.1rem;
            font-size: 1rem;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 28.3rem;
            text-align: center;
            line-height: 2.8159999847;
            font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
            background-color: #d9d9d9;
          }
        }
        .btn-pry-template-2-PgQ {
          height: 6.4rem;
          font-size: 1.6rem;
          line-height: 1.7599999905;
          color: #ffffff;
          white-space: nowrap;
          justify-content: center;
          width: 100%;
          text-align: center;
          font-weight: 500;
          background-color: #212121;
          flex-shrink: 0;
          font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          align-items: center;
          display: flex;
        }
      }
    }
    .line-1-HFz {
      width: 0.1rem;
      height: 43.9rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .auto-group-yvg4-Rd6 {
      height: 100%;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.6rem 0rem 1.739rem 21.4rem;

      .btn-pry-template-1-2-9JC {
        margin: 0rem 0rem 2.57rem 37.2rem;
        line-height: 1.7601562774;
        border: solid 0.1rem #212121;
        font-weight: 500;
        letter-spacing: 0.07rem;
        color: #212121;
        font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
        box-sizing: border-box;
        padding: 0.272rem 3.766rem 0.058rem 4.489rem;
        text-align: right;
        font-size: 1.28rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-z1nk-nMA {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 23.4652rem;
        width: 26.9895rem;
        align-items: center;

        .auto-group-cbgy-vTN {
          box-sizing: border-box;
          padding: 0rem 0.583rem 0.615rem 0.606rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .account-log-in-rM2 {
            font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 3.2rem;
            font-weight: 700;
            text-align: center;
            line-height: 1.375;
            letter-spacing: -0.05rem;
            color: #000000;
            white-space: nowrap;
            margin-bottom: 1.7rem;
            width: 100%;
          }
          .please-login-to-contnue-to-you-Acc {
            width: 100%;
            max-width: 25.8rem;
            font-weight: 400;
            flex-shrink: 0;
            font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
            margin-bottom: 4.2rem;
            text-align: center;
            font-size: 1.28rem;
            line-height: 1.4475;
            letter-spacing: 0.1rem;
            color: #616161;
          }
          .input-email-4xt {
            font-weight: 400;
            line-height: 1.7601562774;
            font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 1.048rem 0.494rem;
            box-sizing: border-box;
            padding: 1.188rem 0.726rem 1.264rem 0.726rem;
            border: solid 0.1rem #9e9e9e;
            width: 21.9481rem;
            font-size: 1.28rem;
            color: #616161;
          }
          .input-email-copy-Wpt {
            height: 3.9849rem;
            position: relative;
            flex-shrink: 0;
            margin-left: 0.4939rem;
            width: 21.9481rem;

            .bg-rNx {
              left: 0;
              top: 0;
              border: solid 0.1rem #9e9e9e;
              box-sizing: border-box;
              width: 21.9481rem;
              height: 3.9rem;
              position: absolute;
            }
            .ex-icon-eye-Pdn {
              vertical-align: top;
              width: 0.7256rem;
              height: 1.3rem;
              position: absolute;
              left: 21.197rem;
              top: 2rem;
              object-fit: contain;
            }
            .password-7pg {
              font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
              width: 5.4rem;
              position: absolute;
              left: 1.4rem;
              top: 1.6849rem;
              font-size: 1.28rem;
              height: 2.3rem;
              font-weight: 400;
              line-height: 1.7601562774;
              color: #616161;
              white-space: nowrap;
            }
          }
        }
        .auto-group-1ude-R4g {
          width: 100%;
          height: 10.8609rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-2-Zgg {
            width: 26.9895rem;
            height: 6.9609rem;
            position: absolute;
            left: 0;
            top: 3.9rem;
            background-color: #4067ec;
          }
          .log-in-tyr {
            position: absolute;
            left: 9.6rem;
            top: 6.2rem;
            font-size: 2.4rem;
            font-weight: 700;
            color: #ffffff;
            white-space: nowrap;
            width: 7.7rem;
            height: 2.3rem;
            text-align: center;
            line-height: 0.9387500286;
            font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          }
          .forgot-password-DFS {
            font-size: 1.28rem;
            font-weight: 400;
            line-height: 1.7601562774;
            color: #616161;
            font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
            left: 18.9rem;
            height: 4.6rem;
            position: absolute;
            top: 0;
            width: 6.1rem;
          }
          .checkbox-label-7bi {
            width: 11.1274rem;
            height: 2.3rem;
            position: absolute;
            left: 1.3rem;
            top: 1.1rem;
            overflow: hidden;
            display: flex;
            align-items: flex-start;

            .checkbox-S8C {
              margin: 0.01rem 0.803rem 0rem 0rem;
              width: 2.2249rem;
              height: 2.1639rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .terms-9oJ {
              line-height: 1.7601562774;
              color: #616161;
              font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.28rem;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  .auto-group-xyzg-Gsv {
    background-color: #d9d9d9;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.1rem 3.2rem 0rem 1.9rem;
    width: 100%;
    display: flex;
    align-items: center;

    .contact-sambas-region-east-blue-near-grand-line-oN4 {
      margin: 5.7rem 30.8rem 0rem 0rem;
      max-width: 25.3rem;
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 1.4825;
      color: #000000;
      font-family: Oswald, 'Source Sans Pro';
      flex-shrink: 0;

      .contact-sambas-region-east-blue-near-grand-line-oN4-sub-0 {
      }
      .contact-sambas-region-east-blue-near-grand-line-oN4-sub-1 {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.4825;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
      }
    }
    .auto-group-7qyn-wMn {
      flex-shrink: 0;
      margin: 0rem 33.6rem 8.6rem 0rem;
      width: 32.1rem;

      .food-dynasty-fYg {
        margin: 0rem 0rem 1.5rem 0.6rem;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.4825;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-yavx-mbi {
        display: flex;
        align-items: flex-start;
        margin: 0rem 18.887rem 0.8rem 2.6rem;
        width: calc(100% - 21.4871rem);

        .vector-VXi {
          width: 3.7rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2.1rem;
        }
        .vector-SC4 {
          width: 4.8129rem;
          height: 2.8024rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .emailfooddynastycom-555-888-9999-aZA {
        line-height: 1.4825;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        max-width: 32.1rem;
        font-size: 3.2rem;
        font-weight: 700;
      }
    }
    .auto-group-r6eq-Vg8 {
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 9rem;
      align-items: center;
      display: flex;

      .hours-3Sk {
        font-weight: 700;
        line-height: 1.4825;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 2.7rem 0.8rem;
        font-size: 3.6rem;
      }
      .monday-sunday-10am-10pm-mde {
        line-height: 1.4825;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 17.1rem;
        font-size: 2.4rem;
        font-weight: 700;
      }
    }
  }
}
