.billing-system-child,
.image-3-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1480px;
  height: 312px;
}
.image-3-icon6 {
  top: 87px;
  left: 977px;
  width: 440px;
  height: 202px;
  object-fit: cover;
}
.enjoy-hundreds-of-container7,
.welcome-to-our7 {
  position: absolute;
  top: 230px;
  left: 22px;
  font-size: var(--font-size-smi);
  letter-spacing: -0.01em;
  line-height: 150%;
  display: inline-block;
  color: var(--color-white);
  width: 867px;
  height: 74px;
}
.enjoy-hundreds-of-container7 {
  top: 106px;
  left: 65px;
  font-size: var(--font-size-xl);
  letter-spacing: -0.02em;
  width: 675px;
  height: 95px;
}
.book-a-table7,
.food-dynasty12,
.gallery9 {
  position: absolute;
  letter-spacing: -0.02em;
  line-height: 150%;
  color: var(--color-orange);
}
.food-dynasty12 {
  top: -4px;
  left: 19px;
  font-size: var(--font-size-29xl);
}
.book-a-table7,
.gallery9 {
  top: 42px;
  left: 1258px;
  cursor: pointer;
}
.gallery9 {
  top: 21px;
  left: 899px;
  line-height: 32px;
  font-weight: 500;
  color: var(--color-white);
  white-space: pre-wrap;
  display: inline-block;
  width: 171px;
  padding-left: 30px;
 
}
.contact13 {
  left: 1099px;
  cursor: pointer;
}
.billing6,
.contact13,
.menu8 {
  position: absolute;
  top: 21px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-weight: 500;
  color: var(--color-white);
}
.menu8 {
  left: 699px;
  white-space: pre-wrap;
  cursor: pointer;
}
.billing6 {
  left: 820px;
}
.billing-system-item {
  position: absolute;
  top: 672px;
  left: 440px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 517px;
  height: 52px;
}
.fillednavigationarrow-drop-d-icon {
  position: absolute;
  top: 608px;
  right: 463px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.about7,
.home7 {
  position: absolute;
  top: 21px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-weight: 500;
  color: var(--color-white);
  cursor: pointer;
}
.home7 {
  left: 474px;
  white-space: pre-wrap;
}
.about7 {
  left: 584px;
}
.billing-system-child1,
.billing-system-inner {
  position: absolute;
  top: 512px;
  left: 440px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 517px;
  height: 52px;
}
.billing-system-child1 {
  top: 595px;
}
.billing-system-child2 {
  position: absolute;
  top: 741px;
  left: 0;
  width: 1480px;
  height: 283px;
}
.billing-system-child3 {
  position: absolute;
  top: 440px;
  left: 440px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 517px;
  height: 52px;
}
.am-10pm6 {
  margin: 0;
  white-space: pre-wrap;
}
.hours6,
.monday-sunday-container6 {
  position: absolute;
  top: 856px;
  left: 1239px;
  font-family: var(--font-oswald);
}
.hours6 {
  top: 785px;
  left: 1281px;
  font-size: var(--font-size-17xl);
}
.vector-icon12,
.vector-icon13 {
  position: absolute;
  height: 2.93%;
  width: 3.61%;
  top: 79.3%;
  right: 50%;
  bottom: 17.77%;
  left: 46.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon13 {
  height: 2.73%;
  width: 3.34%;
  top: 79.49%;
  right: 45.2%;
  left: 51.46%;
}
.emailfooddynastycom-555-88-container6 {
  position: absolute;
  top: 854px;
  left: 607px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  font-family: var(--font-oswald);
  width: 377px;
}
.food-dynasty13 {
  position: absolute;
  top: 741px;
  left: 617px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-oswald);
}
.billing-system-child4 {
  position: absolute;
  top: 1648px;
  left: 2px;
  border-radius: 22px;
  background-color: var(--color-silver);
  width: 1438px;
  height: 175px;
}
.photo-1585144570839-e429bb95ff-icon {
  position: absolute;
  top: 1136px;
  left: 0;
  width: 1440px;
  height: 512px;
  object-fit: cover;
}
.contact14,
.hours7 {
  font-size: var(--font-size-17xl);
}
.hours7 {
  position: absolute;
  top: 1672px;
  left: 1245px;
  font-family: var(--font-oswald);
}
.contact14 {
  margin: 0;
  white-space: pre-wrap;
}
.contact-sambas-region-container6 {
  top: 1674px;
  left: 41px;
  display: inline-block;
  width: 279px;
  height: 123px;
}
.baratie,
.contact-sambas-region-container6,
.monday-sunday-container7 {
  position: absolute;
  font-family: var(--font-oswald);
}
.baratie {
  top: 1644px;
  left: 639px;
  font-size: var(--font-size-29xl);
}
.monday-sunday-container7 {
  top: 1722px;
  left: 1217px;
}
.vector-icon14,
.vector-icon15 {
  position: absolute;
  height: 2.93%;
  width: 2.08%;
  top: 167.48%;
  right: 51.53%;
  bottom: -70.41%;
  left: 46.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon15 {
  right: 46.46%;
  left: 51.46%;
}
.emailexamplecom {
  margin: 0;
}
.emailexamplecom-555-888-99-container {
  position: absolute;
  top: 1747px;
  left: 614px;
  display: inline-block;
  font-family: var(--font-oswald);
  width: 214px;
}
.billing-system-child5 {
  position: absolute;
  top: 327.6px;
  left: 1218px;
  border-radius: var(--br-base);
  background-color: #ff5e5e;
  width: 221.5px;
  height: 47.6px;
  transform: rotate(-0.15deg);
  transform-origin: 0 0;
}
.print {
  position: absolute;
  top: 336px;
  left: 1272px;
  font-size: 39px;
  letter-spacing: 0.1em;
  font-family: var(--font-work-sans);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112.9px;
  height: 29.6px;
}
.item-name {
  position: absolute;
  top: 447.3px;
  left: 460px;
  line-height: 130%;
  width: 104.6px;
  height: 13.2px;
}
.item-name,
.price,
.quantity {
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  display: inline-block;
  transform: rotate(-0.15deg);
  transform-origin: 0 0;
}
.quantity {
  position: absolute;
  top: 608.3px;
  left: 456px;
  line-height: 130%;
  width: 104.6px;
  height: 13.2px;
}
.price {
  top: 524.1px;
  left: 460px;
  width: 58.9px;
  height: 28px;
}
.billing-system1,
.price,
.total-price {
  position: absolute;
  line-height: 130%;
}
.total-price {
  top: 676.3px;
  left: 460px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  display: inline-block;
  width: 101.6px;
  height: 13.2px;
  transform: rotate(-0.15deg);
  transform-origin: 0 0;
}
.billing-system1 {
  top: 320px;
  left: 426px;
  font-size: var(--font-size-29xl);
}
.fillednavigationarrow-drop-d-icon1 {
  position: absolute;
  top: 454px;
  right: 456px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.contact-sambas-region-container7 {
  position: absolute;
  top: 804px;
  left: 35px;
  display: inline-block;
  font-family: var(--font-oswald);
  width: 279px;
  height: 117px;
}
.login6 {
  position: absolute;
  top: 1px;
  left: 1334px;
  letter-spacing: -0.02em;
  line-height: 150%;
  color: var(--color-white);
  cursor: pointer;
}
.billing-system {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
a{
  color: white;
  text-decoration: none;
}
