body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-oswald: Oswald;
  --font-karla: Karla;
  --font-kanit: Kanit;
  --font-zen-kaku-gothic-antique: "Zen Kaku Gothic Antique";
  --font-abhaya-libre-extrabold: "Abhaya Libre ExtraBold";
  --font-roboto: Roboto;
  --font-work-sans: "Work Sans";
  --font-acme: Acme;
  --font-abhaya-libre: "Abhaya Libre";
  --font-arial-black: "Arial Black";

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-17xl: 36px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-base: 16px;
  --font-size-29xl: 48px;
  --font-size-xl: 20px;
  --font-size-smi: 13px;
  --font-size-smi-8: 12.8px;
  --font-size-3xs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-2xs: 11px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;
  --color-orange: #ffa629;
  --color-dimgray: #616161;
  --color-darkgray: #9e9e9e;
  --color-gray-200: #212121;
  --text-color-light-mode-primary: rgba(0, 0, 0, 0.87);
  --text-color-light-mode-secondary: rgba(0, 0, 0, 0.54);
  --color-gray-100: rgba(0, 0, 0, 0.6);
  --color-silver: #c4c4c4;
  --color-darkslategray-100: #495e57;
  --highlight-2: #333;
  --color-gold: #f4ce14;

  /* Paddings */
  --padding-smi: 13px;
  --padding-98xl: 117px;

  /* Border radiuses */
  --br-51xl: 70px;
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-base: 16px;
}
