
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-xZz {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.about-xZz .auto-group-j9wk-HcG {
  box-sizing: border-box;
  padding: 0.2rem 0.5rem 1.5rem 2.1rem;
  width: 144rem;
  height: 31.2rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-59v4-aLU {
  margin-right: 0.1rem;
  width: calc(100% - 0.1rem);
  height: 8.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-59v4-aLU .auto-group-etwg-ude {
  box-sizing: border-box;
  padding: 0.1rem 3.5rem 0.1rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-59v4-aLU .auto-group-etwg-ude .food-dynasty-dpY {
  margin: 0rem 18.7rem 1.5rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.1056rem;
  color: #ffa629;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-59v4-aLU .auto-group-etwg-ude .home-iqz {
  margin: 0rem 0.1rem 1.7rem 0rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-59v4-aLU .auto-group-etwg-ude .about-DGx {
  margin: 0rem 3rem 1.7rem 0rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-59v4-aLU .auto-group-etwg-ude .auto-group-fspn-KKz {
  margin: 1.9rem 4.5rem 3.6rem 0rem;
  width: 32.9rem;
  height: calc(100% - 5.5rem);
  position: relative;
  flex-shrink: 0;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-59v4-aLU .auto-group-etwg-ude .auto-group-fspn-KKz .menu-DwA {
  width: 11.8rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-59v4-aLU .auto-group-etwg-ude .auto-group-fspn-KKz .billing-XS4 {
  width: 8.9rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 11.7rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-59v4-aLU .auto-group-etwg-ude .auto-group-fspn-KKz .gallery-dV6 {
  width: 14rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 18.9rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-59v4-aLU .auto-group-etwg-ude .contact-LPW {
  margin-bottom: 1.3rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-59v4-aLU .auto-group-gaqa-r6x {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-59v4-aLU .auto-group-gaqa-r6x .login-bKS {
  margin: 0rem 0rem 1.7rem 5.3rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-59v4-aLU .auto-group-gaqa-r6x .book-a-table-Jje {
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0456rem;
  color: #ffa629;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-mrrq-dX2 {
  margin-left: 0.4rem;
  width: calc(100% - 0.4rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-mrrq-dX2 .auto-group-kq7e-yat {
  margin-right: 11.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-mrrq-dX2 .auto-group-kq7e-yat .auto-group-aa6q-LAY {
  margin: 0rem 0rem 3.9rem 6.9rem;
  width: 18rem;
  height: 9rem;
  position: relative;
  flex-shrink: 0;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-mrrq-dX2 .auto-group-kq7e-yat .auto-group-aa6q-LAY .enjoy-hundreds-of-flavors-under-one-roof-rPn {
  width: 18rem;
  height: 9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.044rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.about-xZz .auto-group-j9wk-HcG .auto-group-mrrq-dX2 .auto-group-kq7e-yat .auto-group-aa6q-LAY .enjoy-hundreds-of-flavors-under-one-roof-rPn .enjoy-hundreds-of-flavors-under-one-roof-rPn-sub-0 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.044rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.about-xZz .auto-group-j9wk-HcG .auto-group-mrrq-dX2 .auto-group-kq7e-yat .auto-group-aa6q-LAY .enjoy-hundreds-of-flavors-under-one-roof-rPn .enjoy-hundreds-of-flavors-under-one-roof-rPn-sub-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.044rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.about-xZz .auto-group-j9wk-HcG .auto-group-mrrq-dX2 .auto-group-kq7e-yat .auto-group-aa6q-LAY .enjoy-hundreds-of-flavors-under-one-roof-6xL {
  width: 18rem;
  height: 9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.044rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.about-xZz .auto-group-j9wk-HcG .auto-group-mrrq-dX2 .auto-group-kq7e-yat .auto-group-aa6q-LAY .enjoy-hundreds-of-flavors-under-one-roof-6xL .enjoy-hundreds-of-flavors-under-one-roof-6xL-sub-0 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.044rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.about-xZz .auto-group-j9wk-HcG .auto-group-mrrq-dX2 .auto-group-kq7e-yat .auto-group-aa6q-LAY .enjoy-hundreds-of-flavors-under-one-roof-6xL .enjoy-hundreds-of-flavors-under-one-roof-6xL-sub-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.044rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.about-xZz .auto-group-j9wk-HcG .auto-group-mrrq-dX2 .auto-group-kq7e-yat .welcome-to-our-exquisite-restaurant-where-culinary-artistry-takes-center-stage-our-talented-chefs-craft-dishes-that-are-a-true-delight-for-the-senses-join-us-for-a-dining-experience-that-combines-the-freshest-ingredients-innovative-recipes-and-a-warm-inviting-ambiance-reserve-your-table-today-to-indulge-in-a-gastronomic-journey-like-no-other-R7S {
  max-width: 85.3rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0143rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-xZz .auto-group-j9wk-HcG .auto-group-mrrq-dX2 .image-3-PTa {
  margin-bottom: 0.4rem;
  width: 44rem;
  height: 20.2rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  flex-shrink: 0;
}.about-xZz .auto-group-j9wk-HcG .auto-group-mrrq-dX2 .image-3-PTa:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../assets/image-3-6fW.png');
    background-repeat: round;
    transform: matrix(0.9393174364, 0.0023269747, -0.0024037132, 0.970294119, -5.4696722256, -2.9999931692);
}
.about-xZz .auto-group-eeku-Rv4 {
  width: 144rem;
  height: 34.8rem;
  position: absolute;
  left: 0;
  top: 74.1rem;
}
.about-xZz .auto-group-eeku-Rv4 .rectangle-5-ZFa {
  width: 144rem;
  height: 28.3rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  background-color: #d9d9d9;
}
.about-xZz .auto-group-eeku-Rv4 .hours-HxG {
  width: 10.5rem;
  height: 5.4rem;
  position: absolute;
  left: 128.1rem;
  top: 4.4rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.about-xZz .auto-group-eeku-Rv4 .vector-oQp {
  width: 3.7rem;
  height: 3rem;
  position: absolute;
  left: 68.3rem;
  top: 7.1rem;
  object-fit: contain;
  vertical-align: top;
}
.about-xZz .auto-group-eeku-Rv4 .vector-XLp {
  width: 4.8129rem;
  height: 2.8024rem;
  position: absolute;
  left: 74.1rem;
  top: 7.3rem;
  object-fit: contain;
  vertical-align: top;
}
.about-xZz .auto-group-eeku-Rv4 .monday-sunday-10am-10pm-F1v {
  width: 17.1rem;
  height: 10.7rem;
  position: absolute;
  left: 123.9rem;
  top: 11.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
}
.about-xZz .auto-group-eeku-Rv4 .food-dynasty-L3N {
  width: 24.6rem;
  height: 6rem;
  position: absolute;
  left: 61.7rem;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.about-xZz .auto-group-eeku-Rv4 .emailfooddynastycom-555-888-9999-FAL {
  width: 32.1rem;
  height: 14.3rem;
  position: absolute;
  left: 60.7rem;
  top: 11.3rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
}
.about-xZz .auto-group-eeku-Rv4 .contact-sambas-region-east-blue-near-grand-line-hAk {
  width: 25.3rem;
  height: 28.5rem;
  position: absolute;
  left: 3.5rem;
  top: 6.3rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
}
.about-xZz .auto-group-eeku-Rv4 .contact-sambas-region-east-blue-near-grand-line-hAk .contact-sambas-region-east-blue-near-grand-line-hAk-sub-0 {
}
.about-xZz .auto-group-eeku-Rv4 .contact-sambas-region-east-blue-near-grand-line-hAk .contact-sambas-region-east-blue-near-grand-line-hAk-sub-1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
}
.about-xZz .about-us--EZz {
  width: 26.7rem;
  height: 4.7rem;
  position: absolute;
  left: 0.7rem;
  top: 32.6rem;
  display: flex;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.38rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.about-xZz .welcome-to-food-dynasty-at-food-dynasty-we-believe-that-dining-is-not-just-about-food-its-an-experience-that-brings-people-together-established-with-a-passion-for-culinary-excellence-and-a-commitment-to-providing-a-warm-and-inviting-atmosphere-we-strive-to-create-memorable-moments-for-our-guests-89a {
  width: 112.7rem;
  height: 4.7rem;
  position: absolute;
  left: 26.9rem;
  top: 40.35rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.095rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
}
.about-xZz .welcome-to-food-dynasty-at-food-dynasty-we-believe-that-dining-is-not-just-about-food-its-an-experience-that-brings-people-together-established-with-a-passion-for-culinary-excellence-and-a-commitment-to-providing-a-warm-and-inviting-atmosphere-we-strive-to-create-memorable-moments-for-our-guests-89a .welcome-to-food-dynasty-at-food-dynasty-we-believe-that-dining-is-not-just-about-food-its-an-experience-that-brings-people-together-established-with-a-passion-for-culinary-excellence-and-a-commitment-to-providing-a-warm-and-inviting-atmosphere-we-strive-to-create-memorable-moments-for-our-guests-89a-sub-0 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1725;
  letter-spacing: 0.095rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
}
.about-xZz .welcome-to-food-dynasty-at-food-dynasty-we-believe-that-dining-is-not-just-about-food-its-an-experience-that-brings-people-together-established-with-a-passion-for-culinary-excellence-and-a-commitment-to-providing-a-warm-and-inviting-atmosphere-we-strive-to-create-memorable-moments-for-our-guests-89a .welcome-to-food-dynasty-at-food-dynasty-we-believe-that-dining-is-not-just-about-food-its-an-experience-that-brings-people-together-established-with-a-passion-for-culinary-excellence-and-a-commitment-to-providing-a-warm-and-inviting-atmosphere-we-strive-to-create-memorable-moments-for-our-guests-89a-sub-1 {
}
.about-xZz .ambiance-and-hospitality-step-into-food-dynasty-and-be-greeted-by-an-atmosphere-that-exudes-warmth-and-sophistication-whether-youre-here-for-a-casual-brunch-a-romantic-dinner-or-a-special-celebration-our-staffis-committed-to-ensuring-your-experience-is-nothing-short-of-extraordinary-we-take-pride-in-our-attentive-service-making-every-guest-feel-like-part-of-our-extended-family-s96 {
  width: 109.5rem;
  height: 3.6rem;
  position: absolute;
  left: 26.9rem;
  top: 52.9rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.095rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
}
.about-xZz .ambiance-and-hospitality-step-into-food-dynasty-and-be-greeted-by-an-atmosphere-that-exudes-warmth-and-sophistication-whether-youre-here-for-a-casual-brunch-a-romantic-dinner-or-a-special-celebration-our-staffis-committed-to-ensuring-your-experience-is-nothing-short-of-extraordinary-we-take-pride-in-our-attentive-service-making-every-guest-feel-like-part-of-our-extended-family-s96 .ambiance-and-hospitality-step-into-food-dynasty-and-be-greeted-by-an-atmosphere-that-exudes-warmth-and-sophistication-whether-youre-here-for-a-casual-brunch-a-romantic-dinner-or-a-special-celebration-our-staffis-committed-to-ensuring-your-experience-is-nothing-short-of-extraordinary-we-take-pride-in-our-attentive-service-making-every-guest-feel-like-part-of-our-extended-family-s96-sub-0 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1725;
  letter-spacing: 0.095rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
}
.about-xZz .ambiance-and-hospitality-step-into-food-dynasty-and-be-greeted-by-an-atmosphere-that-exudes-warmth-and-sophistication-whether-youre-here-for-a-casual-brunch-a-romantic-dinner-or-a-special-celebration-our-staffis-committed-to-ensuring-your-experience-is-nothing-short-of-extraordinary-we-take-pride-in-our-attentive-service-making-every-guest-feel-like-part-of-our-extended-family-s96 .ambiance-and-hospitality-step-into-food-dynasty-and-be-greeted-by-an-atmosphere-that-exudes-warmth-and-sophistication-whether-youre-here-for-a-casual-brunch-a-romantic-dinner-or-a-special-celebration-our-staffis-committed-to-ensuring-your-experience-is-nothing-short-of-extraordinary-we-take-pride-in-our-attentive-service-making-every-guest-feel-like-part-of-our-extended-family-s96-sub-1 {
}
.about-xZz .our-story-food-dynasty-was-born-out-of-a-dream-to-redefine-the-dining-experience-founded-in-2005-our-journey-began-with-a-vision-to-combine-exceptional-flavors-top-notch-service-and-a-cozy-ambiance-over-the-years-we-have-evolved-into-a-culinary-destination-where-creativity-meets-tradition-1o2 {
  width: 108.6rem;
  height: 3.6rem;
  position: absolute;
  left: 27.3rem;
  top: 47rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.095rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
}
.about-xZz .our-story-food-dynasty-was-born-out-of-a-dream-to-redefine-the-dining-experience-founded-in-2005-our-journey-began-with-a-vision-to-combine-exceptional-flavors-top-notch-service-and-a-cozy-ambiance-over-the-years-we-have-evolved-into-a-culinary-destination-where-creativity-meets-tradition-1o2 .our-story-food-dynasty-was-born-out-of-a-dream-to-redefine-the-dining-experience-founded-in-2005-our-journey-began-with-a-vision-to-combine-exceptional-flavors-top-notch-service-and-a-cozy-ambiance-over-the-years-we-have-evolved-into-a-culinary-destination-where-creativity-meets-tradition-1o2-sub-0 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1725;
  letter-spacing: 0.095rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
}
.about-xZz .our-story-food-dynasty-was-born-out-of-a-dream-to-redefine-the-dining-experience-founded-in-2005-our-journey-began-with-a-vision-to-combine-exceptional-flavors-top-notch-service-and-a-cozy-ambiance-over-the-years-we-have-evolved-into-a-culinary-destination-where-creativity-meets-tradition-1o2 .our-story-food-dynasty-was-born-out-of-a-dream-to-redefine-the-dining-experience-founded-in-2005-our-journey-began-with-a-vision-to-combine-exceptional-flavors-top-notch-service-and-a-cozy-ambiance-over-the-years-we-have-evolved-into-a-culinary-destination-where-creativity-meets-tradition-1o2-sub-1 {
}
.about-xZz .culinary-craftsmanship-our-chefs-are-the-heart-of-food-dynasty-with-a-dedication-to-using-the-finest-ingredients-they-craft-each-dish-with-precision-and-flair-from-contemporary-twists-on-classic-recipes-to-innovative-creations-our-menu-is-a-celebration-of-diverse-flavors-that-cater-to-every-palate-z2g {
  width: 107.8rem;
  height: 3.6rem;
  position: absolute;
  left: 27.3rem;
  top: 58.6rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.095rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
}
.about-xZz .culinary-craftsmanship-our-chefs-are-the-heart-of-food-dynasty-with-a-dedication-to-using-the-finest-ingredients-they-craft-each-dish-with-precision-and-flair-from-contemporary-twists-on-classic-recipes-to-innovative-creations-our-menu-is-a-celebration-of-diverse-flavors-that-cater-to-every-palate-z2g .culinary-craftsmanship-our-chefs-are-the-heart-of-food-dynasty-with-a-dedication-to-using-the-finest-ingredients-they-craft-each-dish-with-precision-and-flair-from-contemporary-twists-on-classic-recipes-to-innovative-creations-our-menu-is-a-celebration-of-diverse-flavors-that-cater-to-every-palate-z2g-sub-0 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1725;
  letter-spacing: 0.095rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
}
.about-xZz .culinary-craftsmanship-our-chefs-are-the-heart-of-food-dynasty-with-a-dedication-to-using-the-finest-ingredients-they-craft-each-dish-with-precision-and-flair-from-contemporary-twists-on-classic-recipes-to-innovative-creations-our-menu-is-a-celebration-of-diverse-flavors-that-cater-to-every-palate-z2g .culinary-craftsmanship-our-chefs-are-the-heart-of-food-dynasty-with-a-dedication-to-using-the-finest-ingredients-they-craft-each-dish-with-precision-and-flair-from-contemporary-twists-on-classic-recipes-to-innovative-creations-our-menu-is-a-celebration-of-diverse-flavors-that-cater-to-every-palate-z2g-sub-1 {
}
.about-xZz .community-matters-beyond-providing-exceptional-food-and-service-food-dynasty-is-dedicated-to-giving-back-to-the-community-we-actively-participate-in-local-initiatives-and-strive-to-make-a-positive-impact-on-the-neighborhoods-we-serve-Ajn {
  width: 109.4rem;
  height: 3.6rem;
  position: absolute;
  left: 27.3rem;
  top: 62.7rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.095rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
}
.about-xZz .community-matters-beyond-providing-exceptional-food-and-service-food-dynasty-is-dedicated-to-giving-back-to-the-community-we-actively-participate-in-local-initiatives-and-strive-to-make-a-positive-impact-on-the-neighborhoods-we-serve-Ajn .community-matters-beyond-providing-exceptional-food-and-service-food-dynasty-is-dedicated-to-giving-back-to-the-community-we-actively-participate-in-local-initiatives-and-strive-to-make-a-positive-impact-on-the-neighborhoods-we-serve-Ajn-sub-0 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1725;
  letter-spacing: 0.095rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
}
.about-xZz .community-matters-beyond-providing-exceptional-food-and-service-food-dynasty-is-dedicated-to-giving-back-to-the-community-we-actively-participate-in-local-initiatives-and-strive-to-make-a-positive-impact-on-the-neighborhoods-we-serve-Ajn .community-matters-beyond-providing-exceptional-food-and-service-food-dynasty-is-dedicated-to-giving-back-to-the-community-we-actively-participate-in-local-initiatives-and-strive-to-make-a-positive-impact-on-the-neighborhoods-we-serve-Ajn-sub-1 {
}
.about-xZz .join-us-at-food-dynasty-and-embark-on-a-culinary-journey-that-transcends-the-ordinary-whether-youre-a-seasoned-food-enthusiast-or-a-casual-diner-we-invite-you-to-savor-the-moments-with-us--awv {
  width: 112.2rem;
  height: 3.6rem;
  position: absolute;
  left: 27.3rem;
  top: 67.8rem;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.1725;
  letter-spacing: 0.095rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
}
.about-xZz .thank-you-for-choosing-food-dynasty-we-look-forward-to-hosting-you-soon-oJt {
  width: 44.7rem;
  height: 1.2rem;
  position: absolute;
  left: 30.4973rem;
  top: 72.8921rem;
  display: flex;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.1725;
  letter-spacing: 0.095rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
}
