
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-7qe {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.contact-7qe .auto-group-qh3a-4F6 {
  margin-bottom: 1.4rem;
  box-sizing: border-box;
  padding: 0.2rem 2.2rem 0.2rem 1.9rem;
  width: 100%;
  height: 31.2rem;
  display: flex;
  align-items: center;
  background-color: #000000;
  flex-shrink: 0;
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-csn4-k7v {
  margin-bottom: 1.1rem;
  width: 85.9rem;
  flex-shrink: 0;
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-csn4-k7v .auto-group-gntv-V5W {
  margin-bottom: 3.7rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-csn4-k7v .auto-group-gntv-V5W .food-dynasty-2LL {
  margin-right: 12.9rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.1056rem;
  color: #ffa629;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-csn4-k7v .auto-group-gntv-V5W .home-KaL {
  margin: 0.6rem 1.5rem 0rem 0rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-csn4-k7v .auto-group-gntv-V5W .about-Qrg {
  margin: 0.6rem 1.6rem 0rem 0rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-csn4-k7v .auto-group-gntv-V5W .menu-XRW {
  margin: 0.2rem 0.1rem 0rem 0rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-csn4-k7v .auto-group-gntv-V5W .billing-qBJ {
  margin-top: 0.2rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-csn4-k7v .enjoy-hundreds-of-flavors-under-one-roof-kZA {
  margin: 0rem 0rem 3.9rem 7.5rem;
  max-width: 18rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.044rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-csn4-k7v .enjoy-hundreds-of-flavors-under-one-roof-kZA .enjoy-hundreds-of-flavors-under-one-roof-kZA-sub-0 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.044rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-csn4-k7v .enjoy-hundreds-of-flavors-under-one-roof-kZA .enjoy-hundreds-of-flavors-under-one-roof-kZA-sub-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.044rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-csn4-k7v .welcome-to-our-exquisite-restaurant-where-culinary-artistry-takes-center-stage-our-talented-chefs-craft-dishes-that-are-a-true-delight-for-the-senses-join-us-for-a-dining-experience-that-combines-the-freshest-ingredients-innovative-recipes-and-a-warm-inviting-ambiance-reserve-your-table-today-to-indulge-in-a-gastronomic-journey-like-no-other-NU4 {
  margin-left: 0.6rem;
  max-width: 85.3rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0143rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-izkc-jhv {
  margin: 1rem 0rem 1.7rem 0rem;
  height: calc(100% - 2.7rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-izkc-jhv .auto-group-yknu-4VJ {
  margin: 0rem 0.4rem 0.3rem 0rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-izkc-jhv .auto-group-yknu-4VJ .gallery-BK2 {
  margin-right: 3.8rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-izkc-jhv .auto-group-yknu-4VJ .contact-6gt {
  margin-right: 16.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-izkc-jhv .auto-group-yknu-4VJ .login-cv8 {
  margin-bottom: 0.7rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-izkc-jhv .auto-group-rf5e-L5S {
  width: 44rem;
  height: 23.5rem;
  position: relative;
  flex-shrink: 0;
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-izkc-jhv .auto-group-rf5e-L5S .book-a-table-HFa {
  width: 17rem;
  height: 3.6rem;
  cursor: pointer;
  position: absolute;
  left: 26.9rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0456rem;
  color: #ffa629;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-7qe .auto-group-qh3a-4F6 .auto-group-izkc-jhv .auto-group-rf5e-L5S .image-3-B64 {
  width: 44rem;
  height: 20.2rem;
  position: relative;
  left: 0;
  top: 3.3rem;
  overflow: hidden;
  z-index: 0;
}.contact-7qe .auto-group-qh3a-4F6 .auto-group-izkc-jhv .auto-group-rf5e-L5S .image-3-B64:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../assets/image-3-ZZE.png');
    background-repeat: round;
    transform: matrix(0.9393174364, 0.0023269747, -0.0024037132, 0.970294119, -5.4696722256, -2.9999931692);
}
.contact-7qe .auto-group-wn3n-nrY {
  margin: 0rem 47.2rem 0rem 2.2rem;
  width: calc(100% - 49.4rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.contact-7qe .auto-group-wn3n-nrY .contact-us--G12 {
  margin: 0rem 3.3rem 2rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.17;
  color: #000000;
  font-family: Karla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-7qe .auto-group-wn3n-nrY .fill-out-the-form-below-and-well-get-back-to-you-as-soon-as-possible-Kjz {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-7qe .auto-group-bfi4-afv {
  width: 100%;
  height: 70.8rem;
  position: relative;
  flex-shrink: 0;
}
.contact-7qe .auto-group-bfi4-afv .rectangle-2-hEk {
  width: 144rem;
  height: 28.3rem;
  position: absolute;
  left: 0;
  top: 34rem;
  background-color: #d9d9d9;
}
.contact-7qe .auto-group-bfi4-afv .food-dynasty-EEg {
  width: 24.6rem;
  height: 6rem;
  position: absolute;
  left: 61.7rem;
  top: 34rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-7qe .auto-group-bfi4-afv .hours-Xja {
  width: 10.5rem;
  height: 5.4rem;
  position: absolute;
  left: 128.1rem;
  top: 38.4rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-7qe .auto-group-bfi4-afv .vector-Edz {
  width: 3.7rem;
  height: 3rem;
  position: absolute;
  left: 68.3rem;
  top: 41.1rem;
  object-fit: contain;
  vertical-align: top;
}
.contact-7qe .auto-group-bfi4-afv .vector-MyW {
  width: 4.8129rem;
  height: 2.8024rem;
  position: absolute;
  left: 74.1rem;
  top: 41.3rem;
  object-fit: contain;
  vertical-align: top;
}
.contact-7qe .auto-group-bfi4-afv .monday-sunday-10am-10pm-h1n {
  width: 17.1rem;
  height: 10.7rem;
  position: absolute;
  left: 123.9rem;
  top: 45.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
}
.contact-7qe .auto-group-bfi4-afv .emailfooddynastycom-555-888-9999-mnL {
  width: 32.1rem;
  height: 14.3rem;
  position: absolute;
  left: 56.9rem;
  top: 47.9rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
}
.contact-7qe .auto-group-bfi4-afv .rectangle-3-UAx {
  width: 45.4rem;
  height: 34rem;
  position: absolute;
  left: 40.4rem;
  top: 0;
  background-color: #d9d9d9;
}
.contact-7qe .auto-group-bfi4-afv .rectangle-4-QqJ {
  width: 39rem;
  height: 3.5rem;
  position: absolute;
  left: 44.5rem;
  top: 8rem;
  background-color: #ffffff;
}
.contact-7qe .auto-group-bfi4-afv .name-YwW {
  width: 4.1rem;
  height: 2.2rem;
  position: absolute;
  left: 45.8rem;
  top: 8.6rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-7qe .auto-group-bfi4-afv .rectangle-5-rxC {
  width: 39rem;
  height: 3.5rem;
  position: absolute;
  left: 44.5rem;
  top: 13.8rem;
  background-color: #ffffff;
}
.contact-7qe .auto-group-bfi4-afv .email-address-1KJ {
  width: 8.8rem;
  height: 2.1rem;
  position: absolute;
  left: 45.3rem;
  top: 14.9rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-7qe .auto-group-bfi4-afv .rectangle-6-77S {
  width: 39rem;
  height: 3.5rem;
  position: absolute;
  left: 44.5rem;
  top: 25.4rem;
  background-color: #ffffff;
}
.contact-7qe .auto-group-bfi4-afv .message-r52 {
  width: 5.4rem;
  height: 2.1rem;
  position: absolute;
  left: 46rem;
  top: 26.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-7qe .auto-group-bfi4-afv .rectangle-7-A5i {
  width: 39rem;
  height: 3.5rem;
  position: absolute;
  left: 44.5rem;
  top: 19.6rem;
  background-color: #ffffff;
}
.contact-7qe .auto-group-bfi4-afv .rectangle-8-tXW {
  width: 17rem;
  height: 3.9rem;
  position: absolute;
  left: 56.9rem;
  top: 30.2rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.contact-7qe .auto-group-bfi4-afv .submit-cyJ {
  width: 10.1rem;
  height: 4.7rem;
  position: absolute;
  left: 60.4rem;
  top: 29.5rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-7qe .auto-group-bfi4-afv .phone-number-L8c {
  width: 9.2rem;
  height: 2.1rem;
  position: absolute;
  left: 45.8rem;
  top: 20.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-7qe .auto-group-bfi4-afv .contact-sambas-region-east-blue-near-grand-line-dtQ {
  width: 25.3rem;
  height: 28.5rem;
  position: absolute;
  left: 3.7rem;
  top: 42.3rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
}
.contact-7qe .auto-group-bfi4-afv .contact-sambas-region-east-blue-near-grand-line-dtQ .contact-sambas-region-east-blue-near-grand-line-dtQ-sub-0 {
}
.contact-7qe .auto-group-bfi4-afv .contact-sambas-region-east-blue-near-grand-line-dtQ .contact-sambas-region-east-blue-near-grand-line-dtQ-sub-1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
}
