
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.gallery-RkG {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.gallery-RkG .auto-group-7qpl-Ahr {
  margin-bottom: 4.8rem;
  width: 100%;
  height: 50.9rem;
  position: relative;
  flex-shrink: 0;
}
.gallery-RkG .auto-group-7qpl-Ahr .rectangle-1-gRJ {
  width: 144rem;
  height: 31.2rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #000000;
}
.gallery-RkG .auto-group-7qpl-Ahr .contact-1Ta {
  width: 11.4rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 108rem;
  top: 3.1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.gallery-RkG .auto-group-7qpl-Ahr .billing-5iL {
  width: 8.9rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 82.5rem;
  top: 2.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.gallery-RkG .auto-group-7qpl-Ahr .about-ADz {
  width: 8.2rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 60.05rem;
  top: 2.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.gallery-RkG .auto-group-7qpl-Ahr .gallery-dtG {
  width: 11.6rem;
  height: 3.2rem;
  position: absolute;
  left: 95rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.gallery-RkG .auto-group-7qpl-Ahr .menu-jwJ {
  width: 11.8rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 70.1rem;
  top: 3.1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.gallery-RkG .auto-group-7qpl-Ahr .home-3SC {
  width: 10.6rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 48.7rem;
  top: 2.7rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.gallery-RkG .auto-group-7qpl-Ahr .book-a-table-Lw6 {
  width: 17rem;
  height: 3.6rem;
  cursor: pointer;
  position: absolute;
  left: 126.7rem;
  top: 5.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0456rem;
  color: #ffa629;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.gallery-RkG .auto-group-7qpl-Ahr .welcome-to-our-exquisite-restaurant-where-culinary-artistry-takes-center-stage-our-talented-chefs-craft-dishes-that-are-a-true-delight-for-the-senses-join-us-for-a-dining-experience-that-combines-the-freshest-ingredients-innovative-recipes-and-a-warm-inviting-ambiance-reserve-your-table-today-to-indulge-in-a-gastronomic-journey-like-no-other-qN4 {
  width: 85.3rem;
  height: 5.9rem;
  position: absolute;
  left: 2.5rem;
  top: 23.8rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0143rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.gallery-RkG .auto-group-7qpl-Ahr .enjoy-hundreds-of-flavors-under-one-roof-mf2 {
  width: 18rem;
  height: 9rem;
  position: absolute;
  left: 9.4rem;
  top: 10.9rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.044rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.gallery-RkG .auto-group-7qpl-Ahr .enjoy-hundreds-of-flavors-under-one-roof-mf2 .enjoy-hundreds-of-flavors-under-one-roof-mf2-sub-0 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.044rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.gallery-RkG .auto-group-7qpl-Ahr .enjoy-hundreds-of-flavors-under-one-roof-mf2 .enjoy-hundreds-of-flavors-under-one-roof-mf2-sub-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.044rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.gallery-RkG .auto-group-7qpl-Ahr .food-dynasty-PK2 {
  width: 32rem;
  height: 7.2rem;
  position: absolute;
  left: 1.3rem;
  top: 0;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.1056rem;
  color: #ffa629;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.gallery-RkG .auto-group-7qpl-Ahr .image-3-tWg {
  width: 44rem;
  height: 20.2rem;
  position: relative;
  left: 97.9rem;
  top: 9.4rem;
  overflow: hidden;
  z-index: 0;
}.gallery-RkG .auto-group-7qpl-Ahr .image-3-tWg:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../assets/image-3-eBE.png');
    background-repeat: round;
    transform: matrix(0.9393174364, 0.0023269747, -0.0024037132, 0.970294119, -5.4696722256, -2.9999931692);
}
.gallery-RkG .auto-group-7qpl-Ahr .gallery--9xQ {
  width: 22.3rem;
  height: 5.7rem;
  position: absolute;
  left: 2.8rem;
  top: 31.2rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.17;
  color: #000000;
  font-family: Karla, 'Source Sans Pro';
  white-space: nowrap;
}
.gallery-RkG .auto-group-7qpl-Ahr .rectangle-3-q4Y {
  width: 12rem;
  height: 13.8rem;
  position: absolute;
  left: 1.3rem;
  top: 36.8rem;
  object-fit: cover;
  vertical-align: top;
}
.gallery-RkG .auto-group-7qpl-Ahr .rectangle-4-9b2 {
  width: 12rem;
  height: 13.8rem;
  position: absolute;
  left: 19.1rem;
  top: 36.8rem;
  object-fit: cover;
  vertical-align: top;
}
.gallery-RkG .auto-group-7qpl-Ahr .rectangle-5-Gfe {
  width: 12rem;
  height: 13.8rem;
  position: absolute;
  left: 61.6rem;
  top: 36.8rem;
  object-fit: cover;
  vertical-align: top;
}
.gallery-RkG .auto-group-7qpl-Ahr .rectangle-6-Q1A {
  width: 12rem;
  height: 13.8rem;
  position: absolute;
  left: 39.9rem;
  top: 36.8rem;
  object-fit: cover;
  vertical-align: top;
}
.gallery-RkG .auto-group-7qpl-Ahr .rectangle-7-LQc {
  width: 12rem;
  height: 13.8rem;
  position: absolute;
  left: 81.6rem;
  top: 36.8rem;
  object-fit: cover;
  vertical-align: top;
}
.gallery-RkG .auto-group-7qpl-Ahr .rectangle-9-G3N {
  width: 12rem;
  height: 13.8rem;
  position: absolute;
  left: 123.3rem;
  top: 36.8rem;
  object-fit: cover;
  vertical-align: top;
}
.gallery-RkG .auto-group-7qpl-Ahr .rectangle-8-BRE {
  width: 12rem;
  height: 13.8rem;
  position: absolute;
  left: 100.4rem;
  top: 36.8rem;
  object-fit: cover;
  vertical-align: top;
}
.gallery-RkG .auto-group-7qpl-Ahr .login-7pg {
  width: 6.3rem;
  height: 3.6rem;
  cursor: pointer;
  position: absolute;
  left: 135.3rem;
  top: 1.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.gallery-RkG .auto-group-ktd2-Dcp {
  margin: 0rem 0rem 4.6rem 1.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.gallery-RkG .auto-group-ktd2-Dcp .rectangle-10-Kvk {
  margin-right: 5.8rem;
  width: 12rem;
  height: 13.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-RkG .auto-group-ktd2-Dcp .rectangle-11-rvg {
  margin-right: 8.8rem;
  width: 12rem;
  height: 13.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-RkG .auto-group-ktd2-Dcp .rectangle-13-P9v {
  margin-right: 9.7rem;
  width: 12rem;
  height: 13.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-RkG .auto-group-ktd2-Dcp .rectangle-12-7bi {
  margin: 0.1rem 8rem 0rem 0rem;
  width: 12rem;
  height: 13.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-RkG .auto-group-ktd2-Dcp .rectangle-14-dpx {
  margin-right: 6.8rem;
  width: 12rem;
  height: 13.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-RkG .auto-group-ktd2-Dcp .rectangle-15-ZTi {
  margin-right: 10.9rem;
  width: 12rem;
  height: 13.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-RkG .auto-group-ktd2-Dcp .rectangle-16-6Ck {
  width: 12rem;
  height: 13.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-RkG .auto-group-ukfe-dCg {
  width: 100%;
  height: 35rem;
  position: relative;
  flex-shrink: 0;
}
.gallery-RkG .auto-group-ukfe-dCg .rectangle-2-m3z {
  width: 144rem;
  height: 28.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
}
.gallery-RkG .auto-group-ukfe-dCg .food-dynasty-Ho2 {
  width: 24.6rem;
  height: 6rem;
  position: absolute;
  left: 61.7rem;
  top: 0.2rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.gallery-RkG .auto-group-ukfe-dCg .hours-nUt {
  width: 10.5rem;
  height: 5.4rem;
  position: absolute;
  left: 128.1rem;
  top: 4.6rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.gallery-RkG .auto-group-ukfe-dCg .vector-HwS {
  width: 3.7rem;
  height: 3rem;
  position: absolute;
  left: 68.3rem;
  top: 7.3rem;
  object-fit: contain;
  vertical-align: top;
}
.gallery-RkG .auto-group-ukfe-dCg .vector-pRa {
  width: 4.8129rem;
  height: 2.8024rem;
  position: absolute;
  left: 74.1rem;
  top: 7.5rem;
  object-fit: contain;
  vertical-align: top;
}
.gallery-RkG .auto-group-ukfe-dCg .monday-sunday-10am-10pm-YsN {
  width: 17.1rem;
  height: 10.7rem;
  position: absolute;
  left: 123.9rem;
  top: 11.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
}
.gallery-RkG .auto-group-ukfe-dCg .emailfooddynastycom-555-888-9999-F16 {
  width: 32.1rem;
  height: 14.3rem;
  position: absolute;
  left: 56.1rem;
  top: 13.1rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
}
.gallery-RkG .auto-group-ukfe-dCg .contact-sambas-region-east-blue-near-grand-line-YF6 {
  width: 25.3rem;
  height: 28.5rem;
  position: absolute;
  left: 3.5rem;
  top: 6.5rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
}
.gallery-RkG .auto-group-ukfe-dCg .contact-sambas-region-east-blue-near-grand-line-YF6 .contact-sambas-region-east-blue-near-grand-line-YF6-sub-0 {
}
.gallery-RkG .auto-group-ukfe-dCg .contact-sambas-region-east-blue-near-grand-line-YF6 .contact-sambas-region-east-blue-near-grand-line-YF6-sub-1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
}
