
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-Unx {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.menu-Unx .desktop-2-dQx {
  width: 144rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 73.9rem;
  position: relative;
  flex-shrink: 0;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .rectangle-11-f6k {
  width: 144rem;
  height: 31.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000000;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .contact-bWC {
  width: 11.4rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 110.3rem;
  top: 2.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .book-a-table-5gG {
  width: 17rem;
  height: 3.6rem;
  cursor: pointer;
  position: absolute;
  left: 125.5rem;
  top: 4.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0456rem;
  color: #ffa629;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .gallery-PS4 {
  width: 15.2rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 91.2rem;
  top: 2.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .menu-HXS {
  width: 11.8rem;
  height: 3.2rem;
  position: absolute;
  left: 71.7rem;
  top: 2.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .billing-nUC {
  width: 8.9rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 85.1rem;
  top: 2.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .home-tGL {
  width: 10.6rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 47.4rem;
  top: 2.1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .about-BWL {
  width: 8.2rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 59.9rem;
  top: 2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .welcome-to-our-exquisite-restaurant-where-culinary-artistry-takes-center-stage-our-talented-chefs-craft-dishes-that-are-a-true-delight-for-the-senses-join-us-for-a-dining-experience-that-combines-the-freshest-ingredients-innovative-recipes-and-a-warm-inviting-ambiance-reserve-your-table-today-to-indulge-in-a-gastronomic-journey-like-no-other-VX2 {
  width: 85.3rem;
  height: 5.9rem;
  position: absolute;
  left: 2.6rem;
  top: 22rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0143rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .enjoy-hundreds-of-flavors-under-one-roof-FuW {
  width: 18rem;
  height: 9rem;
  position: absolute;
  left: 9.4rem;
  top: 10.9rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.044rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .enjoy-hundreds-of-flavors-under-one-roof-FuW .enjoy-hundreds-of-flavors-under-one-roof-FuW-sub-0 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.044rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .enjoy-hundreds-of-flavors-under-one-roof-FuW .enjoy-hundreds-of-flavors-under-one-roof-FuW-sub-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.044rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .food-dynasty-6oe {
  width: 32rem;
  height: 7.2rem;
  position: absolute;
  left: 2.1rem;
  top: 0.3rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.1056rem;
  color: #ffa629;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .image-3-Cbn {
  width: 39.8rem;
  height: 23.2rem;
  position: relative;
  left: 99.6rem;
  top: 8rem;
  overflow: hidden;
  z-index: 0;
}.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .image-3-Cbn:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../assets/image-3-Uig.png');
    background-repeat: round;
    transform: matrix(0.9393174364, 0.0029545944, -0.0018931126, 0.970294119, -4.9475671495, -3.4455367091);
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .rectangle-39-fEU {
  width: 20.8rem;
  height: 12.7rem;
  position: absolute;
  left: 0;
  top: 36.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .rectangle-35-nZz {
  width: 16.5rem;
  height: 12.7rem;
  position: absolute;
  left: 27.3rem;
  top: 36.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .rice-and-beans-combo-price-400-7cG {
  width: 14rem;
  height: 2.9rem;
  position: absolute;
  left: 28.8rem;
  top: 50.1rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .rectangle-40-yuN {
  width: 16.3rem;
  height: 15.9rem;
  position: absolute;
  left: 126.3rem;
  top: 54.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .drinks-price-100-H9N {
  width: 5.8rem;
  height: 3.1rem;
  position: absolute;
  left: 132.8rem;
  top: 69.3rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .fried-rice-price-100-m4Y {
  width: 6.7rem;
  height: 3.1rem;
  position: absolute;
  left: 51.5rem;
  top: 49.9rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .rectangle-37-ffi {
  width: 15.6rem;
  height: 12.7rem;
  position: absolute;
  left: 65.9rem;
  top: 37.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .village-rice-price-500-o1E {
  width: 8.3rem;
  height: 3.1rem;
  position: absolute;
  left: 65.4rem;
  top: 50.6rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .rectangle-37-V8x {
  width: 18.7rem;
  height: 12.5rem;
  position: absolute;
  left: 83.9rem;
  top: 37.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .gizdodo-price-300-C3N {
  width: 5.8rem;
  height: 3.1rem;
  position: absolute;
  left: 90.4rem;
  top: 51.2rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .rectangle-1642-JMJ {
  width: 14.4rem;
  height: 11.4rem;
  position: absolute;
  left: 103.5rem;
  top: 37.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .yamarita-price-200-RB2 {
  width: 6.5rem;
  height: 3.1rem;
  position: absolute;
  left: 104.9rem;
  top: 51.2rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .regular-KXJ {
  width: 5.8rem;
  height: 1.6rem;
  position: absolute;
  left: 13.8rem;
  top: 47.3rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .price-500-1uv {
  width: 5.8rem;
  height: 1.6rem;
  position: absolute;
  left: 7.2rem;
  top: 50.1rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .rectangle-1643-8Dr {
  width: 18.4rem;
  height: 13.8rem;
  position: absolute;
  left: 121rem;
  top: 36.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .ewa-goyin-price-150-3bi {
  width: 6.9rem;
  height: 3.1rem;
  position: absolute;
  left: 126.3rem;
  top: 51.3rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .rectangle-38-xTn {
  width: 13.6rem;
  height: 12.8rem;
  position: absolute;
  left: 48.9rem;
  top: 36.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .menu-Uh2 {
  width: 14.2rem;
  height: 7.2rem;
  position: absolute;
  left: 63.1rem;
  top: 29.6rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0528rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .rectangle-16-PJC {
  width: 17.5rem;
  height: 14.5rem;
  position: absolute;
  left: 1.3rem;
  top: 55.4rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-16-bg-J7W.png');
  border-radius: 7rem;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .stir-fry-pasta-price-200-gHJ {
  width: 10rem;
  height: 3.1rem;
  position: absolute;
  left: 3.8rem;
  top: 70.6rem;
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .rectangle-16-PSc {
  width: 18.1rem;
  height: 14.8rem;
  position: absolute;
  left: 25.1rem;
  top: 55.1rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-16-bg.png');
  border-radius: 7rem;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .jollof-rice-price-259-VVe {
  width: 7.8rem;
  height: 3.1rem;
  position: absolute;
  left: 31.4rem;
  top: 70.6rem;
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .rectangle-1640-oFS {
  width: 19.6rem;
  height: 13.5rem;
  position: absolute;
  left: 46.3rem;
  top: 55.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7rem;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .gizdodo-price-250-XBS {
  width: 6rem;
  height: 3.1rem;
  position: absolute;
  left: 53.9rem;
  top: 69.9rem;
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .rectangle-1644-1MW {
  width: 20.5rem;
  height: 11.5rem;
  position: absolute;
  left: 70.2rem;
  top: 56.2rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1644-bg.png');
  border-radius: 7rem;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .stir-fry-pasta-price-340-iWp {
  width: 10rem;
  height: 3.1rem;
  position: absolute;
  left: 75.6rem;
  top: 69rem;
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .rectangle-1641-RRE {
  width: 18.2rem;
  height: 13.6rem;
  position: absolute;
  left: 98.4rem;
  top: 55.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7rem;
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .vegetable-salad-price-99-wuN {
  width: 9.6rem;
  height: 3.1rem;
  position: absolute;
  left: 102.3rem;
  top: 70.1rem;
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-zmxg-Mbr .login-GAx {
  width: 6.3rem;
  height: 3.6rem;
  cursor: pointer;
  position: absolute;
  left: 134.5rem;
  top: 0.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-Unx .desktop-2-dQx .auto-group-ehi4-dQp {
  box-sizing: border-box;
  padding: 0rem 3rem 0rem 3.5rem;
  width: 100%;
  height: 34.8rem;
  display: flex;
  align-items: flex-start;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.menu-Unx .desktop-2-dQx .auto-group-ehi4-dQp .contact-sambas-region-east-blue-near-grand-line-jik {
  margin: 6.3rem 31.9rem 0rem 0rem;
  max-width: 25.3rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-Unx .desktop-2-dQx .auto-group-ehi4-dQp .contact-sambas-region-east-blue-near-grand-line-jik .contact-sambas-region-east-blue-near-grand-line-jik-sub-0 {
}
.menu-Unx .desktop-2-dQx .auto-group-ehi4-dQp .contact-sambas-region-east-blue-near-grand-line-jik .contact-sambas-region-east-blue-near-grand-line-jik-sub-1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
}
.menu-Unx .desktop-2-dQx .auto-group-ehi4-dQp .auto-group-unep-THN {
  margin-right: 31.1rem;
  width: 32.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.menu-Unx .desktop-2-dQx .auto-group-ehi4-dQp .auto-group-unep-THN .food-dynasty-yWc {
  margin: 0rem 5.5rem 1.1rem 0rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-Unx .desktop-2-dQx .auto-group-ehi4-dQp .auto-group-unep-THN .auto-group-uvfe-u9N {
  margin: 0rem 13.887rem 1.198rem 7.6rem;
  width: calc(100% - 21.4871rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.menu-Unx .desktop-2-dQx .auto-group-ehi4-dQp .auto-group-unep-THN .auto-group-uvfe-u9N .vector-RdW {
  margin: 0rem 2.1rem 0.002rem 0rem;
  width: 3.7rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-Unx .desktop-2-dQx .auto-group-ehi4-dQp .auto-group-unep-THN .auto-group-uvfe-u9N .vector-YTE {
  width: 4.8129rem;
  height: 2.8024rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-Unx .desktop-2-dQx .auto-group-ehi4-dQp .auto-group-unep-THN .emailfooddynastycom-555-888-9999-Hfi {
  max-width: 32.1rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-Unx .desktop-2-dQx .auto-group-ehi4-dQp .auto-group-tdqy-nMa {
  margin: 4.4rem 0rem 12.6rem 0rem;
  height: calc(100% - 17rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.menu-Unx .desktop-2-dQx .auto-group-ehi4-dQp .auto-group-tdqy-nMa .hours-uSC {
  margin: 0rem 0rem 1.7rem 1.8rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-Unx .desktop-2-dQx .auto-group-ehi4-dQp .auto-group-tdqy-nMa .monday-sunday-10am-10pm-Dxg {
  max-width: 17.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4825;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-Unx .line-1-XiU {
  width: 144rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 34.9022rem;
  background-color: #000000;
}
